.ui-section {
  margin-bottom: 40px;
  @include media('>=lg') {
    margin-bottom: 100px;
  }

  &__title {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    &.highlight {
      padding-top: 14px;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        width: 165px;
        height: 6px;
        top: 0;
        right: 0;
        background: $primaryColor;
      }
    }

    @include media('>=lg') {
      font-size: 48px;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }


  &__more {
    text-align: right;
    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}