.ui-w-outside,
.ui-img-outside {
  --w: 0;
  @include media('>=lg') {
    --w: calc((100vw - 960px) / 2);
  }
  @include media('>=xl') {
    --w: calc((100vw - 1145px) / 2);
  }
  @include media('>=xxl') {
    --w: calc((100vw - 1145px) / 2);
  }
}
.br-lg {
  display: none;
  @include media('>=lg') {
    display: block;
  }
}

.h-banner {
  background: $blackColor;
  position: relative;
  margin-bottom: 60px;
  padding: 84px 0;
  display: flex;

  .row {
    height: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    margin-bottom: 40px;
    max-width: 440px;
    color: #FFFFFF;
    @include media('>=lg') {
      font-size: 60px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
    @include media('>=lg') {
      max-width: 540px;
      font-size: 18px;
    }
  }
  &__img {
    @include media('<lg') {
      margin-bottom: 32px;
      img {
        width: 100%;
        vertical-align: top;
      }
    }
    @include media('>=lg') {
      position: absolute;
      top: 0;
      width: calc(50vw + ( $grid-gutter-width * 0.5));
      right: 0;
      height: 100%;
      padding: 0;

      img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
      }
    }

  }

  &__body {
    @include media('>=lg') {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @include media('>=lg') {
    min-height: 900px;
    margin-bottom: 150px;
  }
}


.h-about {
  margin-bottom: 60px;
  img {
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    color: $blackColor;
    margin-bottom: 20px;

    @include media('>=lg') {
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: $blackColor;

    @include media('>=lg') {
      font-size: 18px;
    }
  }


  @include media('>=lg') {
    margin-bottom: 150px;
  }
}


.h-progress {
  margin-bottom: 60px;
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    color: $blackColor;
    margin: 0 0 30px;
    @include media('>=lg') {
      font-size: 40px;
      margin: 0 0 60px;
    }
  }


  &__counter {
    &__item {
      padding-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid #909090;

      .count {
        font-weight: 300;
        font-size: 64px;
        line-height: 110%;
        margin-bottom: 5px;
      }
      .desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #909090;
      }
    }
  }

  @include media('>=lg') {
    margin-bottom: 150px;
  }
}

.h-congratulations {
  margin-bottom: 60px;
  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #2E2E2E;
    margin: 0 0 20px;
    @include media('>=lg') {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
    @include media('>=lg') {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }

  &__slider {
    position: relative;
    &__nav {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: calc(50% + $grid-gutter-width * 0.5);
      display: inline-flex;
      gap: 40px;

      &__prev,
      &__next {
        width: 28px;
        height: 28px;
        cursor: pointer;
        color: $blackColor;
        svg {
          stroke: currentColor;
        }

        &:hover {
          color: $primaryColor;
        }
      }

      &__prev {
      }
      &__next {
      }
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    &__img {
      border-radius: 50%;
      vertical-align: top;
       width: 100px;
      height: 100px;
      flex: 0 0 100px;
      margin-right: 40px;
      @include media('>=lg') {
        width: 200px;
        height: 200px;
        flex: 0 0 200px;
      }
    }

    &__body {
      @include media('>=lg') {
        padding: 32px 0;
      }
    }
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 20px;
      @include media('>=lg') {
        font-size: 20px;
      }
    }
    &__position {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

    }
  }

  @include media('>=lg') {
    margin-bottom: 150px;
  }
}

.h-gifts {
  margin-bottom: 60px;

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    margin-bottom: 40px;

    @include media('>=lg') {
      font-size: 60px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
    @include media('>=lg') {
      max-width: 50%;
      font-size: 18px;
      margin-bottom: 40px;
    }
  }

  .tickets {
    $imgW: 67%;
    &__item {
      display: flex;
      width: 100%;
      height: 502px;
      &__img {
        width: $imgW;
        height: 100%;
        border-radius: 22px;
        overflow: hidden;
        img {
          height: 100%;
          vertical-align: top;
          width: 100%;
          object-fit: cover;
        }
      }
      &__body {
        height: 100%;
        background: $blackColor;
        width: calc(100% - $imgW);
        border-radius: 22px;
        position: relative;
        overflow: hidden;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 23px;
          width: 4px;
          height: calc(100% - 23px * 2);
          background-image: url("data:image/svg+xml,%3Csvg width='6' height='443' viewBox='0 0 6 443' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00002 442.432L3 0.5' stroke='white' stroke-width='4.2906' stroke-dasharray='8.58 8.58'/%3E%3C/svg%3E%0A");
          background-repeat: repeat-y;
          background-position: left center;
        }
        @include media('>=lg') {
          padding: 30px 42px;
        }
      }
      &__name {
        font-weight: 400;
        font-size: 42px;
        line-height: 120%;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #CECECE;

        padding-bottom: 70px;
        border-bottom: 2px solid #595959;
        margin-bottom: 30px;
      }
      &__btn {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 180%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;

        @include media('>=lg') {
          font-size: 64px;
        }
      }

      $self: &;
      &--used {
        .tickets__item__img {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #292929;
            opacity: 0.9;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 150px;
      }
     }
  }
  @include media('>=lg') {
    margin-bottom: 150px;
  }
}



.footer {
  background: $blackColor;
  color: #909090;
  padding: 60px 0 40px;

  &__form {
    &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 40px;
    }

    .f-group {
      margin-bottom: 20px;
    }
    .f-group-x2 {
      margin-bottom: 40px;
    }

    .f-control {
      background: none;
      border: none;
      background: transparent;
      border-bottom: 1px solid #909090;
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      border-radius: 0;
      padding: 13px 0;
      height: 40px;
      resize: none;

      &::placeholder {
        color: #909090;
        opacity: 1;
      }

      &:focus {
        border-color: $primaryColor;
      }
    }
    .f-check-label {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      align-items: center;
      color: #909090;
      span {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &__links {
    margin-bottom: 40px;
    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $whiteColor;
      margin-bottom: 12px!important;
    }

    & div:not(:last-child) {
      margin-bottom: 6px;
    }

    a {
      font-weight: 400;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #909090;
      opacity: 1;
      text-decoration: none;
      &:hover {
        color: $primaryColor;
      }
    }
  }


  &__copyright {
    border-top: 1px solid #909090;
    margin-top: 58px;
    padding-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #909090;
  }
  &__pages {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #333333;
      @include media('>=lg') {

        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  @include media('>=lg') {
    padding: 120px 0 122px;
  }
}
