@import "lib/additional";
// Import animate-scss
//@import
//"../../node_modules/animate-scss/_properties.scss",
//	"../../node_modules/animate-scss/_sliding-entrances/sliding-entrances.scss";
//@import '../../node_modules/simple-notify/dist/simple-notify.min.css';
@import "../../node_modules/swiper/swiper";
//@import "../../node_modules/glightbox/dist/css/glightbox.css";


// Import BEM blocks scss
//@import "../blocks/404/404";
@import "../blocks/404/404.scss";
@import "../blocks/a-section/a-section";
@import "../blocks/button/button";
@import "../blocks/footer/footer";
@import "../blocks/form/form";
@import "../blocks/header/header";
@import "../blocks/home/home";

.mb-16 {
	margin-bottom: 16px;
}
.row {
	--bs-gutter-x: 16px;
	@include media('>=lg') {
		--bs-gutter-x: 32px;
	}
}
body {
	background: #fff;
	color: $blackColor;
	font-family: $fontPrimary;
}

.main {
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}



.swiper-wrapper--lg,
.swiper-wrapper--lg-flex {
	position: relative;
	width: 100%;
	height: auto!important;
	z-index: auto!important;
	display: block!important;
	-webkit-transition-property: -webkit-transform;
	-o-transition-property: transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-wrapper--lg-flex {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;

	.swiper-slide {
		height: auto;
	}
}
.footer {
	flex: 0 0 auto;
	margin-top: auto;
}
