<template>
    <main class="main">
            <Head title="Dashboard" />

            <div class="h-banner">
                <div class="container">
                    <div class="row">
                        <div class="h-banner__img">
                            <img :src="require('../../../images/stuff/bg1.jpg')">
                        </div>
                        <div class="col-12 col-lg-6 h-banner__body">
                            <div>
                                <h1 class="h-banner__title">ДМИТРИЙ,<br>
                                    С ДНЁМ<br>
                                    РОЖДЕНИЯ!</h1>

                                <div class="h-banner__text">
                                    <p>Вы же знаете, что мы любим шутить, поэтому сегодня наш праздничный тост будет несколько необычным. Так что держитесь!</p>

                                    <p>Мы не знаем, как Вы это делаете, но Вы точно волшебник! Ведь благодаря Вам, компании добились невероятных высот!</p>

                                    <p>Ваша работа - настоящее искусство, и, честно говоря, мы даже начинаем подозревать, что Вы - не человек, а киборг! А что? Ведь как еще объяснить Вашу невероятную способность управлять командой и добиваться таких высоких результатов?!</p>

                                    <p>Шутки шутками, ну а если серьезно: Вы - настоящий гений своего дела! Мы безмерно благодарны Вам за все, что Вы делаете для IQ Group!</p>

                                    <p>С Днем Рождения, главный киборг-директор!</p>
                                </div>

                                <a href="#gifts" data-anchor class="u-btn">ХОЧУ ПОДАРКИ!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="h-about" id="about">
                <div class="container">
                    <div class="row align-items-lg-center">
                        <div class="col-12 col-lg-6">
                            <div class="h-about__img">
                                <img src="images/stuff/content1.png">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h2 class="h-about__title">Заголовок 1</h2>
                            <div class="h-about__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-progress">
                <div class="container">
                    <h2 class="h-progress__title">
                        Достижения / Факты биографии
                    </h2>

                    <div class="h-progress__counter">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">01</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">02</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">03</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">04</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">05</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="h-progress__counter__item">
                                    <div class="count">06</div>
                                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-congratulations" id="congratulations">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h2 class="h-congratulations__title">Поздравления</h2>
                            <div class="h-congratulations__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>

                    <div class="h-congratulations__slider swiper">
                        <div class="swiper-wrapper">

                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/1.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        Дмитрий, поздравляю вас с днем рождения! Желаю счастья, здоровья, блага,  радости, удачи. Желаю чтоб ваш вектор развития был всегда направлен вперёд, как в нашем логотипе
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Влад
                                    </div>
                                </div>
                            </div>


                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/2.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        Желаем массу креативных решений, масштабных планов и почетных наград. Вы — неиссякаемый источник энергии, который всех заряжает (даже тех, с кем у вас нет планерок). Нам  достаточно лишь одного взгляда в сторону прозрачной двери, чтобы перенять этот заряд бодрости. Получается, что вы спасаете нас от большого количества кофеина. Пусть ваши незаурядные лидерские способности запустят IQ в космос!
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Оля
                                    </div>
                                </div>
                            </div>



                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/3.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        С днем рождения! Пусть сбудутся Ваши сокровенные желания и устремления, сохранится все хорошее, что есть в Вашей жизни и приумножатся мгновения радости, любви и оптимизма.
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Лера
                                    </div>
                                </div>
                            </div>


                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/4.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        Желаю новых крутых идей в бизнесе и отсутствия седых волос
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Илья
                                    </div>
                                </div>
                            </div>




                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/5.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        Поздравляю с днем рождения! Желаю еще больших побед, классных проектов, крепкого здоровья и огромного счастья!
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Эмилия
                                    </div>
                                </div>
                            </div>

                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/6.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        Желаю, чтобы вас никогда не покидали острота ума и свежесть мысли. Пусть ваши озарения всегда будут гениальными, стратегии – выигрышными, а корабль бизнеса – ловким и непотопляемым. Семь футов под килем!
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Эльвира
                                    </div>
                                </div>
                            </div>


                            <div class="h-congratulations__slide swiper-slide">
                                <img src="./images/stuff/congratulations/7.png" class="h-congratulations__slide__img">

                                <div class="h-congratulations__slide__body">

                                    <div class="h-congratulations__slide__text">
                                        С днем рождения! Желаю уверенности и решительности, внутреннего спокойствия и целеустремлённости, настойчивости и непоколебимости, многогранности идей и постоянного энтузиазма в деятельности. А также желаю успеха во всех начинаниях и больших побед в своей жизни!
                                    </div>
                                    <div class="h-congratulations__slide__position">
                                        Паша
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div class="h-congratulations__slider__nav">
                            <div class="h-congratulations__slider__nav__prev">
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 4L9 14L19 24" stroke="currentColor"/></svg>
                            </div>
                            <div class="h-congratulations__slider__nav__next">
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 4L19 14L9 24" stroke="currentColor"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-gifts" id="gifts">
                <div class="container">
                    <h2 class="h-gifts__title">
                        Подарки!<br>
                        Ну наконец-то!
                    </h2>
                    <div class="h-gifts__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="tickets">
                        <div class="tickets__item tickets__item--used">

                            <div class="tickets__item__img">
                                <img src="images/stuff/content3.png">
                            </div>
                            <div class="tickets__item__body">
                                <div class="tickets__item__name">
                                    подарки ждут
                                </div>
                                <a href="" class="tickets__item__btn">ПОЕХАЛИ!</a>
                            </div>
                        </div>

                        <div class="tickets__item">

                            <div class="tickets__item__img">
                                <img src="images/stuff/content3.png">
                            </div>
                            <div class="tickets__item__body">
                                <div class="tickets__item__name">
                                    воздушные Шары
                                </div>
                                <a href="" class="tickets__item__btn">ХОЧУ!</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="h">

            </div>
        </main>

</template>

<script>
import Vue from 'vue';
import { Head } from '@inertiajs/vue2'
import Layout from '../../Layouts/Dashboard.vue'
import GraphActivity from '../../Components/graphs/activity.vue';


export default {
    components: {
        Head,
        GraphActivity
    },
    layout: Layout,
    props: {
        auth: Object,
        workItems: Array,
        graph_activity: Object
    },
    data(){
        return {

        }
    },
    created() {

    },
    mounted(){

    },
    watch: {

    },

    computed: {
        user(){
            return this.$page.props.auth.user;
        },


    },

    methods: {

    }
}
</script>
