<template>
    <div class="dropdown" >
        <a @click.prevent="show = !show" v-click-outside="hide" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
            <slot></slot>
        </a>

        <div class="dropdown-menu dropdown-menu-right" :class="{'show': show}" ref="dropdown">
            <slot name="dropdown" />
        </div>
    </div>
</template>

<script>
import { createPopper } from '@popperjs/core'
import ClickOutside from 'vue-click-outside'

export default {
    props: {
        placement: {
            type: String,
            default: 'bottom-end',
        },
        autoClose: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            show: false,
        }
    },
    watch: {
        show(show) {
            if (show) {
                this.$nextTick(() => {
                    this.popper = createPopper(this.$el, this.$refs.dropdown, {
                        placement: this.placement,
                        modifiers: [
                            {
                                name: 'preventOverflow',
                                options: {
                                    altBoundary: true,
                                },
                            },
                        ],
                    })
                })
            } else if (this.popper) {
                setTimeout(() => this.popper.destroy(), 100)
            }
        },

    },
    mounted() {
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                this.show = false
            }
        })
    },
    directives: {
        ClickOutside
    },
    methods: {
        hide() {
            this.show = false
        }
    }
}
</script>
