<template>
  <div class="ui-editor" >
    <div class="im-chat-input" ref="editor_container">

      <template v-if="isAllowSend">
        <div class="im-chat-input--textarea">
          <div class="ui-editor__form">
            <EditorTextarea v-model="text" :noHTML="true" ref="inputComponent" @returned="submit" >

            </EditorTextarea>

            <div class="ui-editor__submit"  @click="submit"  :class="{'active': valid}"><i class="bi bi-arrow-up"></i> </div>
          </div>
        </div>

      </template>
    </div>

  </div>
</template>

<script>

import EditorTextarea from './EditorTextarea.vue'



export default {

  name: 'Editor',
  props: {
    'editorHeight': {},
    'isAllowSend': {},
    'value': {}

  },
  data: function () {
    return {
      text: '',
    }
  },
  mounted(){

    this.$emit('onload');
    this.updateHeight();
  },
  updated: function () {
    this.$nextTick(function () {
      this.updateHeight();
    })
  },

  watch: {
    text: function(val){
      this.$emit('input', val);
      this.updateHeight();
    },
    inputComponent(){
      return this.$refs.inputComponent
    },
  },
  computed: {
    valid(){
      return  this.text.length;
    }
  },
  methods: {
    updateHeight(){
      let editorHeight = this.$el.offsetHeight;
      if(editorHeight != this.editorHeight) this.$emit('update:editorHeight', editorHeight);
    },

    createUUID: function() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    },

    submit: function () {

      if(!this.valid){
        return false;
      }

      let newMessageRef = this.createUUID();


      let messageNew = {
        id: newMessageRef,
        tmp: true,
        message: this.text,
       // time: moment().unix(),
      };


      this.$emit('send-message', this.text);
      this.text = '';
    },

    clear(){
      this.text = '';

    },

    setText(text){
      this.text = text;
    }

  },

  beforeDestroy() {
    //this.$store.commit('setEditorHeight', 0);
  },

  components: {
    EditorTextarea
  }
}
</script>

<style>

.ui-editor__input-hidden {
  display: none;
}

.ui-editor__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ui-editor__textarea {
  -ms-flex: 1;
  flex: 1;
}


.ui-editor__submit {
  margin: 1px 0 1px 16px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #d0d7de;
  transition: all 0.3s;
}
.ui-editor__submit.active {
  background: #249BFA;
}

.ui-editor__submit i {
  color: #fff;
  font-size: 16px;
}


</style>
