<template>
    <div class="ui-editor__textarea">
        <div class="ui-editor__textarea__field"
             v-on:keydown="editorKeydown"
             v-on:keyup="editorKeyup"
             @focus="hasFocus = true"
             @blur="hasFocus = false"
             @paste="onPaste"

             ref="input"
             tabindex="0"
             contenteditable="true"
             role="textbox"
             aria-multiline="true">
        </div>
        <div class="ui-editor__textarea__placeholder" v-if="text.length < 1"><div class="ph_input"><div class="ph_content">Напишите сообщение…</div></div></div>
    </div>
</template>

<script>
    export default {
        name: 'EditorTextarea',
        props: ['noHTML', 'noNL', 'value'],
        data: function () {
            return {
                text: ''
            }
        },
        mounted: function(){
            this.$refs.input.addEventListener('DOMSubtreeModified', () => {
                this.$nextTick().then(()=>{
                    this.resize();
                });
                this.text = this.current_content();
                this.$emit('input', this.current_content());

            });
            this.update_content(this.value);
            this.resize();
        },
        watch: {
            value(newval, oldval){
                if(newval != this.current_content()){
                    this.update_content(newval);
                }
            }
        },
        computed: {

        },
        methods: {
            current_content(){
                return this.noHTML ?
                    this.$refs.input.innerText
                    :
                    this.$refs.input.innerHTML;
            },
            update_content(newcontent){
                if(this.noHTML) {
                    this.$refs.input.innerText = newcontent;
                }
                else {
                    this.$refs.input.innerHTML = newcontent;
                }
            },

            focus: function () {
                this.$refs.input.focus();
            },

            submit: function () {

            },
            resize: function(){
                this.$emit('update:editor_height', parseInt(this.$el.offsetHeight) );
            },

            onPaste(event) {
                event.preventDefault();
                let text = (event.originalEvent || event).clipboardData.getData('text/plain');
                if(this.noNL) {
                    text = replaceAll(text, '\r\n', ' ');
                    text = replaceAll(text, '\n', ' ');
                    text = replaceAll(text, '\r', ' ');
                }
                window.document.execCommand('insertText', false, text);
            },

            editorKeyup: function(e){
                e.stopPropagation();
                e.preventDefault();
            },


            editorKeydown: function(e){
                if(e.keyCode == 13 && !e.ctrlKey) {
                    e.stopPropagation();
                    e.preventDefault();
                    this.$emit('returned', this.current_content);
                } else if(e.keyCode == 13 && e.ctrlKey) {
                    document.execCommand('insertHTML', false, '<br><br>');
                }
            },


        }
    }
</script>

<style>

    .ui-editor__textarea {
        position: relative;
    }
    .ui-editor__textarea__field {
        outline: 0;
        min-height: 49px;
        width: 100%;
        resize: none;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        line-height: 25px;
        padding: 11px 45px 11px 13px;
        margin-bottom: 0;
        word-wrap: break-word;
        box-sizing: border-box;
        -o-transition: border-bottom-color 0.3s linear;
        transition: border-bottom-color 0.3s linear;
        -webkit-font-smoothing: subpixel-antialiased;
         -webkit-appearance: none;
        font-size: 13px;
        border: 1px solid #f6f6f6;
        border-radius: 10px;
        background-color: #f6f6f6;
    }
    .ui-editor__textarea__field:focus {
        outline: none;
    }

    .ui-editor__textarea__placeholder {
        position: absolute;
        top: 33px;
        left: 11px;
        width: 100%;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        z-index: 3;
        cursor: text;
        pointer-events: none;
    }

    .ui-editor__textarea__placeholder .ph_input {
        position: absolute;
        z-index: 3;
        bottom: 0;
        line-height: 16px;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 0 3px;
    }
    .ui-editor__textarea__placeholder .ph_input  .ph_content {
        font-size: 13px;
        color: #8f989f;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease;
        padding: 1px;
        opacity: 1;
        filter: none;
    }
</style>
