.header {
  $self: &;
  box-sizing: border-box;
  z-index: 90;
  width: 100%;
  transition: background-color 0.3s;
  position: fixed;

  $self: &;
  &_filled {

    #{ $self }__nav-wrap {

      position: fixed;
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
      top: 0;
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 84px;
  }
  &__menu-wrap {
    width: 100%;
  }
  &__nav {
    $nav: &;
    @include media('>=lg') {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      &--color-reverse {
        #{$nav}__link {
          color: $whiteColor;
        }
      }
    }
    &__item {

    }
    &__link {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      color: $blackColor;
      transition: all 0.3s;

      &:hover {
        color: $primaryColor!important;
      }
    }
  }
  &__logo {
    box-sizing: border-box;
    &__link {
      img {
        width: 160px;
        height: auto;
        vertical-align: top;

        &:hover {
          //	filter: drop-shadow(0 0 8px rgba($primaryColor, 0.75));
        }
      }
    }

  }


  $bgToggle: $whiteColor;
  $sizeToggle: 26px;
  $sizeToggleLine: 18px;
  $toggleLineHeight: 4px;
  $toggleLineOffset: 4px;
  $offsetToggle: 0; // отступ слева
  &__menu-toggle {
    width: $sizeToggle;
    height: $sizeToggle;
    cursor: pointer;
    transition: all .6s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: $offsetToggle;


    div {
      width: calc(100% - 4px);
      height: $toggleLineHeight;
      background-color: $bgToggle;
      display: block;
      margin-top: $toggleLineOffset;
      transition: all .6s ease-in-out;
      &:first-child {
        margin-top: 0;
      }
    }

    &.opened {
      transition: all 600ms ease-in-out;
      background-color: rgba(255, 255, 255, 0.2);
      & > div:first-child {
        transform: translateY(9px) rotate(-135deg);
        transition: all .6s ease-in-out;
        background-color: $primaryColor;
      }
      & > div:nth-child(2) {
        opacity: 0;
        transition: .4s ease;
      }
      & > div:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        transition: all .6s ease-in-out;
        background-color: $primaryColor;
      }
    }
  }



  @include media("<lg") {
    &__menu-blind {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      position: fixed;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      z-index: 4;
      right: -100%;
      top: 0;
      width: 100%;
      max-width: 310px;
      transition: right 0.4s ease-out;
      overflow: auto;
      background-color: #FFFFFF;
      background-position: right center;
      background-repeat: no-repeat;
      padding: 35px 20px;


      &__close {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6663 11.6667L23.333 23.3333M11.6663 23.3333L23.333 11.6667' stroke='%23302F38' stroke-opacity='0.9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
      }

      .header__nav {
        flex-direction: column;
        padding: 24px 0;
        align-items: start;
        gap: 10px;
        margin-bottom: 60px;
        text-align: left;
        width: 100%;


        &__item {
          width: 100%;
          margin-bottom: 10px;
        }
        &__link {
          padding: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 23px;
          color: $blackColor;
          opacity: 0.8;
        }
      }

      .header__phone {
        text-align: center;
        a {
          font-weight: 700;
          margin-top: 10px;
          font-size: 16px;
          color: $blackColor;
          text-decoration: none;
          display: inline-block;

          &:before {
            top: calc(50% - 8px);
          }
        }
      }
      &.opened {
        right: 0;
      }
    }
  }


  $self: &;


  @include media(">=lg") {
    &__menu-blind {
      flex: 1;
      display: flex;
    }
  }


}


.is-sticky-header {
  .header {
    position: fixed;
    background-color: rgba($blackColor, .95);
    -webkit-box-shadow: 0 4px 60px rgba(0,0,0,.2);
    box-shadow: 0 4px 60px rgba(0,0,0,.2);


    &__nav {
      &__link {
        color: $whiteColor;
      }
    }

  }
}

.instruction-page {
  max-width: 730px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 90px;

  &__title {
    margin-bottom: 30px;
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    color: #2e2e2e;
    text-transform: none;

    span {
      display: block;
      color: $primaryColor;
      font-family: 'Gilroy-Bold';
      text-transform: uppercase;
      font-size: 56px;
    }
  }
  &__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
  }
}