.text {
  font-family: 'Roboto';
  color: #44474f;
  font-weight: 400;
  line-height: 22px;

  h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  h2, h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    color: #44474f;
    margin-bottom: 22px;

    @include media('>=lg') {
      font-size: 24px;
      margin-bottom: 22px;
    }
  }

  h4, h5, h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    @include media('>=lg') {
      font-size: 22px;
    }
  }


  a {
    color: $primaryColor;
    text-decoration: underline;
    transition: all 0.25s;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 10px;
    @include media('>=lg') {

    }
  }

  img {
    max-width: 100%;
  }

  strong i {
    font-style: normal;
    color: $primaryColor;
  }

  ul {
    padding-left: 12px;
    margin: 0;
    li {
      color: #44474f;
      font-weight: 400;
      font-weight: 400;
      &::marker {
        content: "◇ ";
        color: $primaryColor;
      }
    }
  }
}