.u-btn {
	$self: &;
	position: relative;
	@extend %reset-button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 58px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.05em;
	transition: all 0.25s;
	padding: 0 85px;
	background: transparent;
	/* identical to box height */
	border-radius: 0;
	font-weight: 600;
	font-size: 17px;
	line-height: 140%;

	color: $blackColor;
	border: 1px solid  $whiteColor;
	background: $whiteColor;

	svg {
		margin-right: 10px;
		fill: currentColor;
		stroke: currentColor!important;
	}

	&:hover {
		background:transparent;
		border-color: $primaryColor;
		color: $primaryColor;
		text-decoration: none;
	}

	&:focus,
	&:active {
		background: rgba(255, 255, 255, 0.4);
		border: 1px solid rgba(255, 255, 255, 0.51);
		outline: none;
	}


	&--primary {
		color: $whiteColor;
		background: $primaryColor;
		border: 1px solid $primaryColor;

		&:hover,
		&:focus,
		&:active {
			background: rgba($primaryColor, 0.9);
			border: 1px solid rgba($primaryColor, 0.9);
		}
	}

	&--dark {
		color: $whiteColor;
		background: #003262;
		border: 1px solid  #003262;

		&:hover,
		&:focus,
		&:active {
			background: rgba(#003262, 0.9);
			border: 1px solid rgba(#003262, 0.9);
		}
	}


	&--red {
		color: $whiteColor!important;
		background: $themeColor;
		border: 1px solid $themeColor;

		&:hover,
		&:focus,
		&:active {
			background: rgba($themeColor, 0.9);
			border: 1px solid rgba($themeColor, 0.9);
		}
	}

	&--black{
		height: 33px;
		padding: 0 20px;
		color: $whiteColor!important;
		background: $blackColor;
		border: 1px solid $blackColor;
		font-size: 12px;

		&:hover,
		&:focus,
		&:active {
			background: $primaryColor;
			border: 1px solid $primaryColor, 0.9;
		}
	}


	&--outline {
		color: $primaryColor;
		background-color: transparent;
 		padding: 0 35px;

		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			border-color: $primaryColor;
			background-color: $primaryColor;
		}
	}
	&--outline-black {
		border-color: $blackColor;
		color: $blackColor;
		background-color: transparent;
 		padding: 0 35px;

		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			border-color: $primaryColor;
			background-color: $primaryColor;
		}
	}


	&--arrow {
		margin-right: 44px;
		&:before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect opacity='0.5' width='44' height='12' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_1_139' transform='matrix(0.0227273 0 0 0.0833333 -1.29545 0)'/%3E%3C/pattern%3E%3Cimage id='image0_1_139' width='101' height='12' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGUAAAAMBAMAAACJqW5uAAAAHlBMVEUAAADPFD7REz7PEEDRFD7QEz3PEz7PEz3PEDjRFD6Iw6/gAAAACXRSTlMAgF8Qz6+QUCD0nzaLAAAAO0lEQVQoz2MgEVgwkA4kFUjXYzKJdD3MnmRaJEgiEJupwDCTZBBAstuYphiQrEfTmS7WVJJuDYMq0BoAjKInpOprFqwAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
			height: 12px;
			width: 44px;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			right: -44px + 13px;
			top: calc(50% - 6px);
			transition: all 0.3s;
		}

		&:hover:before {
			right: -44px;
		}

	}


	&--more {
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_553)'%3E%3Cpath d='M16 9L2 9' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 16L16 9L9 2' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_553'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")!important;
		padding-right: 62px;
		background-position: right 34px center !important;
		background-repeat: no-repeat!important;
	}

	&--icon {
		padding-right: 62px;
		background-position: right 34px center !important;
		background-repeat: no-repeat!important;

		&.icon-portfolio {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5688 4.20241L17.3029 3.93655L13.8219 0.455517L13.556 0.189655C13.4357 0.0693103 13.2688 0 13.0981 0H3.09052C2.68156 0 2.24121 0.315862 2.24121 1.00897V13.4483V19.1507V19.3103C2.24121 19.599 2.53156 19.8803 2.875 19.969C2.89225 19.9734 2.9088 19.98 2.92673 19.9834C2.98052 19.9941 3.03535 20 3.09052 20H16.9091C16.9643 20 17.0191 19.9941 17.0729 19.9834C17.0909 19.98 17.1074 19.9734 17.1247 19.969C17.4681 19.8803 17.7585 19.599 17.7585 19.3103V19.1507V13.4483V4.82C17.7585 4.55552 17.7267 4.36034 17.5688 4.20241ZM16.5291 4.13793H13.6205V1.22931L16.5291 4.13793ZM3.09052 19.3103C3.06604 19.3103 3.04397 19.3014 3.02225 19.2934C2.96845 19.2679 2.93087 19.2141 2.93087 19.1507V14.1379H17.0688V19.1507C17.0688 19.2141 17.0312 19.2676 16.9774 19.2934C16.9557 19.3014 16.9336 19.3103 16.9091 19.3103H3.09052ZM2.93087 13.4483V1.00897C2.93087 0.934138 2.94225 0.689655 3.09052 0.689655H12.9509C12.9395 0.733103 12.9309 0.777931 12.9309 0.824483V4.82759H16.934C16.9805 4.82759 17.025 4.81897 17.0685 4.80759C17.0685 4.81276 17.0688 4.81483 17.0688 4.82V13.4483H2.93087Z' fill='white'/%3E%3Cpath d='M7.60048 15.4292C7.48565 15.3351 7.35599 15.2641 7.21151 15.2172C7.06703 15.1699 6.92082 15.1465 6.77324 15.1465H5.77393V18.621H6.33979V17.3668H6.75944C6.94151 17.3668 7.10841 17.3403 7.2591 17.2868C7.40979 17.2334 7.53875 17.1579 7.64565 17.0606C7.75255 16.9634 7.83565 16.843 7.89565 16.6999C7.95531 16.5568 7.98531 16.3975 7.98531 16.2213C7.98531 16.0548 7.94979 15.9048 7.8791 15.771C7.80841 15.6372 7.7153 15.5237 7.60048 15.4292ZM7.38599 16.5772C7.35117 16.673 7.30599 16.7475 7.24944 16.801C7.19289 16.8544 7.13082 16.893 7.06324 16.9165C6.99565 16.9399 6.92703 16.952 6.85806 16.952H6.33944V15.5754H6.76358C6.90806 15.5754 7.02427 15.5982 7.11255 15.6437C7.20048 15.6892 7.26875 15.7458 7.31772 15.8134C7.36634 15.881 7.39841 15.9517 7.41427 16.0254C7.42979 16.0992 7.43772 16.1644 7.43772 16.221C7.43772 16.3627 7.42048 16.4813 7.38599 16.5772Z' fill='white'/%3E%3Cpath d='M11.0184 15.6555C10.8722 15.5017 10.6884 15.3779 10.4667 15.2854C10.2449 15.193 9.98803 15.1465 9.69597 15.1465H8.64941V18.621H9.96459C10.0084 18.621 10.076 18.6154 10.1673 18.6044C10.2584 18.5934 10.3591 18.5686 10.4691 18.5289C10.5791 18.4896 10.6929 18.4306 10.8108 18.352C10.9287 18.2734 11.0346 18.1658 11.1291 18.0289C11.2236 17.892 11.3011 17.7223 11.3625 17.5196C11.4239 17.3168 11.4546 17.0723 11.4546 16.7865C11.4546 16.5789 11.4184 16.3768 11.3463 16.1806C11.2736 15.9848 11.1646 15.8096 11.0184 15.6555ZM10.606 17.8382C10.4363 18.0834 10.1598 18.2058 9.77631 18.2058H9.21528V15.5751H9.54528C9.81562 15.5751 10.0356 15.6106 10.2053 15.6813C10.3749 15.752 10.5094 15.8448 10.6084 15.9596C10.7073 16.0744 10.7739 16.2023 10.8087 16.3437C10.8432 16.4851 10.8604 16.6282 10.8604 16.7727C10.8604 17.2379 10.7756 17.5934 10.606 17.8382Z' fill='white'/%3E%3Cpath d='M12.2749 18.621H12.8501V17.0558H14.3021V16.6692H12.8501V15.5754H14.448V15.1465H12.2749V18.621Z' fill='white'/%3E%3Cpath d='M13.251 7.91794C12.9341 7.91794 12.5451 7.95932 12.0931 8.04139C11.462 7.37174 10.8034 6.3938 10.3386 5.4338C10.7996 3.49277 10.5689 3.21794 10.4672 3.08829C10.3589 2.95036 10.2062 2.72656 10.0324 2.72656C9.95962 2.72656 9.76099 2.75967 9.68203 2.78587C9.48341 2.85208 9.37651 3.00518 9.291 3.20484C9.0472 3.77484 9.38168 4.74656 9.72582 5.49553C9.43168 6.66553 8.93824 8.06587 8.41962 9.20243C7.11272 9.80105 6.41858 10.389 6.35582 10.95C6.33306 11.1541 6.38134 11.4538 6.74031 11.7231C6.83858 11.7966 6.95375 11.8355 7.07375 11.8355C7.37548 11.8355 7.68031 11.6045 8.03306 11.109C8.29031 10.7476 8.56651 10.2548 8.85479 9.64311C9.77824 9.23932 10.9207 8.87449 11.8989 8.67001C12.4438 9.19311 12.9317 9.45794 13.351 9.45794C13.66 9.45794 13.9248 9.31587 14.1165 9.04725C14.3162 8.7676 14.3617 8.51725 14.251 8.30242C14.1182 8.04415 13.791 7.91794 13.251 7.91794ZM7.08134 11.2535C6.91996 11.1297 6.92927 11.0462 6.93272 11.0148C6.9541 10.8231 7.25444 10.4828 7.99134 10.0686C7.43272 11.1004 7.13272 11.2373 7.08134 11.2535ZM9.90893 3.34932C9.92375 3.34449 10.2693 3.72898 9.94203 4.45829C9.45031 3.95518 9.87513 3.3607 9.90893 3.34932ZM9.19617 8.87553C9.54617 8.04139 9.87168 7.12036 10.1182 6.26725C10.5055 6.96311 10.9707 7.63829 11.4362 8.17898C10.7003 8.35174 9.91686 8.59553 9.19617 8.87553ZM13.6448 8.71036C13.5386 8.85898 13.3082 8.86242 13.2275 8.86242C13.0438 8.86242 12.9751 8.75311 12.6941 8.53691C12.9258 8.50725 13.1444 8.49967 13.3186 8.49967C13.6251 8.49967 13.6813 8.54484 13.7238 8.5676C13.7162 8.59208 13.6962 8.63829 13.6448 8.71036Z' fill='white'/%3E%3C/svg%3E%0A");

		}
	}

	&--block {
		display: flex;
		width: 100%;
	}


	&--sm {
		height: 30px;
		padding: 0 30px;
	}

	@include media('<sm') {
		&--block-xs {
			display: flex;
			width: 100%;
		}
	}
	@include media('<lg') {
		&--block-sm {
			display: flex;
			width: 100%;
		}
	}
}