<template>
    <div>
        <label v-if="label" class="form-label">{{ label }}:</label>
        <div class="f-group file-input" :class="{ error: errors.length }">
            <input ref="file" type="file" :accept="accept" class="hidden" @change="change" style="display: none;" />

            <div v-if="!value">
                <button type="button" class="ui-button ui-button--primary" @click="browse">Выбрать фото</button>
            </div>
            <div v-else class="flex items-center justify-between p-2">
                <div class="flex-1 pr-1">
                    {{ value.name }} <span class="text-gray-500 text-xs">({{ filesize(value.size) }})</span>
                </div>
                <button type="button" class="ui-button ui-button--danger" @click="remove">Удалить</button>
            </div>
        </div>
        <div v-if="errors.length" class="invalid-feedback">{{ errors[0] }}</div>
    </div>
</template>

<script>
export default {
    props: {
        value: File,
        label: String,
        accept: String,
        errors: {
            type: Array,
            default: () => [],
        },
    },
    emits: ['input'],
    watch: {
        value(value) {
            if (!value) {
                this.$refs.file.value = ''
            }
        },
    },
    methods: {
        filesize(size) {
            var i = Math.floor(Math.log(size) / Math.log(1024))
            return (size / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i]
        },
        browse() {
            this.$refs.file.click()
        },
        change(e) {
            this.$emit('input', e.target.files[0])
        },
        remove() {
            this.$emit('input', null)
        },
    },
}
</script>
