<template>
    <div>

        <div class="alert alert--success" role="alert" v-if="$page.props.flash.success && show">
            {{ $page.props.flash.success }}
        </div>
        <div class="alert alert-danger" role="alert" v-if="($page.props.flash.error || Object.keys($page.props.errors).length > 0) && show">
            <div v-if="$page.props.flash.error">{{ $page.props.flash.error }}</div>
            <div v-else>
                <span v-if="Object.keys($page.props.errors).length === 1">В форме имеется ошибка.</span>
                <span v-else>В форме ошибки: {{ Object.keys($page.props.errors).length }}.</span>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="show = false"></button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            show: true,
        }
    },
    watch: {
        '$page.props.flash': {
            handler() {
                this.show = true
            },
            deep: true,
        },
    },
}
</script>
