<template>
    <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
</template>


<script>

export default {
    props: ['graph'],
    components: {

    },
    data(){
        return {}
    },

    computed: {
        series(){

            let categories = Object.keys(this.graph);
            let values = [];

            categories.forEach((cat)=> {
                let indicators = this.graph[cat];
                values.push(indicators.count ? indicators.count : 0)
            });




            return [{
                name: "Новые запросы",
                data: values
            }];
        },

        chartOptions() {
            let categories = Object.keys(this.graph);
            let titles = [];
            let colors = [];

            categories.forEach((cat)=> {
                let indicators = this.graph[cat];
                titles.push(indicators.date ? indicators.date : '')
                colors.push(indicators.color ? indicators.color : '')
            });

            return {

                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },

                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },

                xaxis: {
                    categories: titles,
                },
            }
        },
    }
}
</script>
