<template>

    <div>


        <header class="header header--home" data-scroll-lock-fill-gap>
            <div class="container">
                <div class="header__inner">

                    <div class="header__menu-blind" data-scroll-lock-scrollable>
                        <div class="header__menu-blind__close">
                        </div>


                        <div class="row header__menu-wrap">
                            <div class="col-12 col-lg-6">
                                <div class="header__nav header__nav--color-reverse">
                                    <div class="header__nav__item"><a href="#gifts" data-anchor class="header__nav__link">Подарки сразу!</a> </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="header__nav">
                                    <div class="header__nav__item"><a href="#about" data-anchor class="header__nav__link">Узнать о себе</a> </div>
                                    <div class="header__nav__item"><a href="#congratulations" data-anchor class="header__nav__link">Получить поздравления</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-lg-none header__menu-toggle">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </header>


        <flash-messages />
        <slot />

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="footer__form">
                            <div class="footer__form__title">Хотите с нами поговорить?</div>

                            <form class="js-ajax-form">
                                <div class="f-group">
                                    <input type="text" class="f-control" id="mformName" placeholder="Мы знаем ваше имя, дмитрий" disabled="disabled">
                                </div>

                                <div class="f-group">
                                    <input type="email" class="f-control" id="mformEmail" placeholder="email тоже знаем" disabled="disabled">
                                </div>

                                <div class="f-group">
                                    <textarea type="comment" class="f-control" id="floatingInput" placeholder="пишите..." rows="1"></textarea>
                                </div>

                                <div class="f-group f-group-x2">
                                    <div class="f-check">

                                        <input class="f-check-input" type="checkbox" value="" id="mformAccept">
                                        <label class="f-check-label" for="mformAccept">
                                            Я подтверждаю, что получил все подарки и<br>
                                            <span>всем доволен</span>
                                        </label>
                                    </div>
                                </div>

                                <button type="submit" class="u-btn">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">

                        <div class="row footer__links">
                            <div class="col-12 col-lg-6">
                                <div class="footer__links__title">Адрес</div>
                                <div class="footer__links__contacts">
                                    <div>Тюмень</div>
                                    <div><a href="mailto:kp@iqdev.digital">kp@iqdev.digital</a> </div>
                                    <div><a href="tel:+78003025283">+7 (800) 302 5283</a> </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="footer__links__title">Повторить</div>
                                <div><a href="/">Главная</a> </div>
                                <div><a href="#congratulations" data-anchor>Поздравленияе</a> </div>
                                <div><a href="#gifts" data-anchor>Подарки</a> </div>
                            </div>

                        </div>

                    </div>
                </div>



                <div class="footer__copyright">
                    IQ Group
                </div>

            </div>
        </div>
    </div>


</template>

<script>
import { Link } from '@inertiajs/vue2'
import FlashMessages from '../Shared/FlashMessages.vue'
import Vue from "vue";

export default {
    components: {
        FlashMessages,
        //Icon,
        Link
    },
    data(){
        return {
            drawer: null,
            isUserMenu: false
        }
    },
    props: {
        layoutParams: {
            type: Object,
            default(){
                return {};
            }
        },
        allowedFormats: Array,
        auth: Object,
        menu: Array,
    },

    created(){
        if(!this.isMobile) {
            this.drawer = true;
        }
    },

    computed: {
        isMobile(){
            return this.$root.isMobile
        }
    }
}
</script>
